export(AnalysisOfClassifier)
export(ApplyNaiveBayesClassifier)
export(BuildNaiveBayesClassifier)

export(CentroidClassifier)
export(HyperPlaneClassifier)
export(KNNclassifier)
export(KNNclassifierDistance)
export(RandomForestClassifier)
export(splitQuoted)
export(splitSample)
export(SupportVectorMachines)

importFrom("stats", "sd")
 importFrom("graphics", "plot")
  importFrom("stats", "as.dist")
