export(splitQuoted)
export(BuildNaiveBayesClassifier)
export(ApplyNaiveBayesClassifier)
export(CentroidClassifier)
export(KNNclassifierDistance)
export(AnalysisOfClassifier)
export(RandomForestClassifier)
export(KNNclassifier)
export(HyperPlaneClassifier)
export(splitSample)
importFrom("stats", "sd")
 importFrom("graphics", "plot")
  importFrom("stats", "as.dist")
